
<div class="card card-cascade card-image wider reverse" style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg);">

    <!-- Content -->
    <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
        <div>
            <h5 class="pink-text"><i class="fa fa-pie-chart"></i> Marketing</h5>
            <h3 class="card-title pt-2"><strong>This is card title</strong></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem,
                optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos.
                Odit sed qui, dolorum!.</p>
            <a class="btn btn-pink"><i class="fa fa-clone left"></i> View project</a>
        </div>
    </div>
    
    <!-- Content -->
</div>
    <div class="container">
        <div class="row">
        <div class="col-md-8" style="padding-right: 0px;margin-top: 1rem;padding: 0px;;">
        <h3 class="h3-responsive" style="font-size: 1.3rem;">
            <strong>Uber has been plagued with optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos.
                Odit sed qui, dolorum!</strong>
            </h3>
            <div>
 <ul class="soc">
    <li><a class="soc-twitter" href="#"></a></li>
    <li><a class="soc-facebook" href="#"></a></li>
    <li><a class="soc-googleplus" href="#"></a></li>
    <li><a class="soc-linkedin" href="#"></a></li>
    <li><a class="soc-reddit" href="#"></a></li>
    <li><a class="soc-mail soc-icon-last" href="#"></a></li>
</ul>
                </div>
            
            <div>
            <p>We may say that today we are living in a newspaper culture. Whether in English or other regional languages, almost every man gets benefited from newspaper.</p>
                <p>We may say that today we are living in a newspaper culture. Whether in English or other regional languages, almost every man gets benefited from newspaper.</p>
                <p>We may say that today we are living in a newspaper culture. Whether in English or other regional languages, almost every man gets benefited from newspaper.</p>
                <p>We may say that today we are living in a newspaper culture. Whether in English or other regional languages, almost every man gets benefited from newspaper.</p>
                <p>We may say that today we are living in a newspaper culture. Whether in English or other regional languages, almost every man gets benefited from newspaper.</p>
                
            </div>
            <figure class="figure">
            <div class="view overlay hm-zoom" style="padding-right: 7px;">
    <img src="/assets/images/news.jpg" class="img-fluid " alt="zoom">
    <div class="mask flex-center waves-effect waves-light">
        <p class="white-text">Zoom effect</p>
       
    </div>
        <figcaption class="figure-caption">A caption for the above image.</figcaption>
      </div> 
            </figure>
            <p>We may say that today we are living in a newspaper culture. Whether in English or other regional languages, almost every man gets benefited from newspaper.</p>
                <p>We may say that today we are living in a newspaper culture. Whether in English or other regional languages, almost every man gets benefited from newspaper.</p>
                <p>We may say that today we are living in a newspaper culture. Whether in English or other regional languages, almost every man gets benefited from newspaper.</p>
            </div>
            
            
            
            <div class="col-md-4">
            <div class="card card-body" style="background-color: #1397A1 !important;    margin-top: -53px;border-radius: 0em;">
                <div>
                
                 <div class="d-flex justify-content-start">
        
                     <a href="#" class="white-text p-2"><img src="/assets/images/accurate.png" class="comment-img"/><br> <h2 style="margin-bottom: 0;">82%</h2><span class="white-text" style="font-size: 0.8rem;">Accuracy</span></a>
                     
                     <a href="#" class="white-text p-2"> <img src="/assets/images/spell check.png" class="comment-img"/><br>
                         <h2 style="margin-bottom: 0;">93%</h2><span class="white-text" style="font-size: 0.8rem;">Spelling</span></a>
                     
                     
                     <a class="white-text p-2" href="#"> <img src="/assets/images/thought-bubble.png" class="comment-img"/><br>
                         <h2 style="margin-bottom: 0;">12%</h2><span class="white-text" style="font-size: 0.8rem;">Subjective</span></a>
                    
                    <a class="white-text p-2 active" href="#"> <img src="/assets/images/chat.png" class="comment-img"/><br>
      <h2 style="margin-bottom: 0;">20</h2><span class="white-text" style="font-size: 0.8rem;">Comments</span></a>
                
            </div>
                    
                </div>
                <div>
                    <hr style="margin: 0.5rem;background-color: white; "> </div>
                  <div class="d-flex justify-content-start">
                <div class="box">
  <div class="bar">
    <div class="progress"></div>
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
  </div>
</div>
                </div>
                
                <div>
                    <hr style="background-color: white;margin-top: 0.5rem;margin-bottom: 0.5rem;"> </div>
                <span class="white-text" style="text-align: center">Comments</span><div>
     <hr style="background-color: white;margin-top: 0.5rem;margin-bottom: 0.5rem;"> </div>
 <div>
      <div class="d-flex justify-content-start">
  <div><img class="img-valign rounded-circle " src="http://www.placehold.it/30x30" alt="" /></div>
  <div><h4 class=" white-text" style="font-size: 1.0rem;padding-left: 10px;">John Doe</h4></div>
  <div class="ml-auto white-text">Thu 11:20 PM</div>
      </div>
<div class="d-flex white-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi cupiditate temporibus iure soluta.</div>
                 <hr style="background-color: white;">    
                </div>

    <!--Second review-->
  <div>
      <div class="d-flex justify-content-start">
  <div><img class="img-valign rounded-circle " src="http://www.placehold.it/30x30" alt="" /></div>
  <div><h4 class=" white-text" style="font-size: 1.0rem;padding-left: 10px;">John Doe</h4></div>
  <div class="ml-auto white-text">Thu 11:20 PM</div>
      </div>
<div class="d-flex white-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi cupiditate temporibus iure soluta.</div>
                 <hr style="background-color: white;">   
                </div>
    <!--Second review-->
  <div>
      <div class="d-flex justify-content-start">
  <div><img class="img-valign rounded-circle " src="http://www.placehold.it/30x30" alt="" /></div>
  <div><h4 class=" white-text" style="font-size: 1.0rem;padding-left: 10px;">John Doe</h4></div>
  <div class="ml-auto white-text">Thu 11:20 PM</div>
      </div>
<div class="d-flex white-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi cupiditate temporibus iure soluta.</div>
                 <hr style="background-color: white;">    
                </div>
                 <div>
      <div class="d-flex justify-content-start">
  <div><img class="img-valign rounded-circle " src="http://www.placehold.it/30x30" alt="" /></div>
  <div><h4 class=" white-text" style="font-size: 1.0rem;padding-left: 10px;">John Doe</h4></div>
  <div class="ml-auto white-text">Thu 11:20 PM</div>
      </div>
<div class="d-flex white-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi cupiditate temporibus iure soluta.</div>
                 <hr style="background-color: white;">    
                </div>
                 <div>
      <div class="d-flex justify-content-start">
  <div><img class="img-valign rounded-circle " src="http://www.placehold.it/30x30" alt="" /></div>
  <div><h4 class=" white-text" style="font-size: 1.0rem;padding-left: 10px;">John Doe</h4></div>
  <div class="ml-auto white-text">Thu 11:20 PM</div>
      </div>
<div class="d-flex white-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi cupiditate temporibus iure soluta.</div>
                 <hr style="background-color: white;">    
                </div>
                 <div>
      <div class="d-flex justify-content-start">
  <div><img class="img-valign rounded-circle " src="http://www.placehold.it/30x30" alt="" /></div>
  <div><h4 class=" white-text" style="font-size: 1.0rem;padding-left: 10px;">John Doe</h4></div>
  <div class="ml-auto white-text">Thu 11:20 PM</div>
      </div>
<div class="d-flex white-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi cupiditate temporibus iure soluta.</div>
                 <hr style="background-color: white;">    
                </div>
                <div class="form-group basic-textarea rounded-corners">
    <textarea class="form-control comment" id="exampleFormControlTextarea3" rows="7"></textarea>
</div>
                <button type="button" style="width: 100%;background-color: #005950;text-transform: none" class="btn btn-primary">Sign Up</button>
                
</div>

</div>
            </div>
            
            
        </div>
