<div class="container">
    <div class="row" style="margin-top: 2rem">
        <div class="col-md-12 col-12">
    <mdb-carousel [animation]="'slide'">
    <!--First slide-->
            <!--Card-->
          
            <!--/.Card-->
   
    <mdb-slide>
      <div class="card">
      <div class="row ">
        <div class="col-md-6" style="padding-right: 0">
             <img src="https://placeholdit.imgix.net/~text?txtsize=38&txt=400%C3%97400&w=400&h=400" class="w-100" height="320px">
          </div>
          <div class="col-md-6 card-carsole">
            <div class="card-block" style="padding: 3rem">
              <p class="card-title carsole-para white-text text-uppercase">Always Stay Up to date with most reliable and </p>
                <h4 class="carsole-heading  white-text">ERROR FREE NEWS</h4>
              
            </div>
          </div>

        </div>
      </div>
    </mdb-slide>
    <!--/First slide-->
    <!--Second slide-->
   <mdb-slide>
      <div class="card">
      <div class="row ">
        <div class="col-md-6" style="padding-right: 0">
             <img src="https://placeholdit.imgix.net/~text?txtsize=38&txt=400%C3%97400&w=400&h=400" class="w-100" height="320px">
          </div>
          <div class="col-md-6 card-carsole">
            <div class="card-block" style="padding: 3rem">
              <p class="card-title carsole-para white-text text-uppercase">Always Stay Up to date with most reliable and </p>
                <h4 class="carsole-heading  white-text">ERROR FREE NEWS</h4>
              
            </div>
          </div>

        </div>
      </div>
    </mdb-slide>
    <!--/Second slide-->
    <!--Third slide-->
   <mdb-slide>
      <div class="card">
      <div class="row ">
        <div class="col-md-6" style="padding-right: 0">
             <img src="https://placeholdit.imgix.net/~text?txtsize=38&txt=400%C3%97400&w=400&h=400" class="w-100" height="320px">
          </div>
          <div class="col-md-6 card-carsole">
            <div class="card-block" style="padding: 3rem">
              <p class="card-title carsole-para white-text text-uppercase">Always Stay Up to date with most reliable and </p>
                <h4 class="carsole-heading  white-text text-uppercase">ERROR FREE NEWS</h4>
              
            </div>
          </div>

        </div>
      </div>
    </mdb-slide>
    <!--/Third slide-->
</mdb-carousel>
            
            </div>
 </div>
    <div class="row" style="height: 12.4rem;">
    <div class="col-md-12">
        <div class="card" style="box-shadow: none">
      <div class="row ">
        <div class="col-md-3" style="padding-right: 0">
             <img src="./assets/images/advertisement.PNG" class="w-100" width="200px" height="200px" />
          </div>
          <div class="col-md-3" style="padding-left: 0px;padding-right: 0px; background-color: #005950">
            <div class="card-block px-3">
              <p class="card-title card-news">TRUMP DEFIANT AS PRESSURE GROWS</p>
            </div>
          </div>
          <div class="col-md-3" style="padding-left: 0px;padding-right: 0px">
           <img src="./assets/images/photo1.png" class="w-100" width="200px" height="200px" />
          </div>
          <div class="col-md-3" style="padding-left: 0px;background-color: #00A99E">
            <div class="card-block px-3">
              <p class="card-title card-news">NADAL'S STYLE Evolution </p>
                   <div class="triangle-left" style="    margin-left: -37px;margin-top: -3rem;">
                </div>
    <div class="d-flex justify-content-start">
        <p>
                     <a href="#" class="white-text p-2"><img src="/assets/images/accurate.png" class="comment-img"/> 
                         <h5 style="margin-bottom: 0;">82%</h5></a></p>
                     
                   <a href="#" class="white-text p-2"><img src="/assets/images/spell check.png" class="comment-img"/> 
                         <h5 style="margin-bottom: 0;">82%</h5></a>
                     
                     
      
                    
                    <a class="white-text p-2 active" href="#"> <img src="/assets/images/chat.png" class="comment-img"/>
      <h5 style="margin-bottom: 0;">20</h5></a>
                
            </div>
            
            </div>
          </div>

        </div>
      </div>
        
        </div>
    
    </div>
    
       <div class="row" style="margin-top: 1.5rem">
    <div class="col-md-12">
        <div class="card" style="box-shadow: none">
      <div class="row " style="margin-left: 0px;">
        <div class="col-md-3" style="padding: 12px;background-color: #00A99D">
            <h5 style="text-align: center;"  class="white-text">TODAY</h5>
            <hr style="border-top: 1px solid white;margin-top: 0;margin-bottom: 0">
            <p class="white-text" style="    margin-bottom: 0;">MONDAY</p>
            <p class="white-text" style="    margin-bottom: 0;">JUNE 10<spa style="float: right;">7:00AM</spa></p>
            <hr style="border-top: 1px solid white;margin-top: 0;">
             <div class="sun"></div>
  <span class="temp white-text">25&#176;c</span>
      <!-- <p> <img src="/assets/images/VectorSmartObject.png" /><span style="text-align: center">25</span></p>-->
          </div>
          <div class="col-md-6" style="padding-left: 0px;padding-right: 0px; background-color: #003463">
            <div style="margin-top: 1.5rem">
               <div class="forecast clear">
    <div class="day tue">TUE
      <br> <span class="cloudy-1"></span> <br> <br><br><span class="highTemp">79&#176;c</span> <br> <span class="highTemp">57.6F</span>
    </div>
    <div class="day wed">WED
        <br> <span class="cloudy-2"></span> <br> <br><br> <span class="highTemp">79&#176;c</span> <br> <span class="highTemp">57.6F</span>
    </div>
    <div class="day thu">THU 
        <br> <span class="cloudy-3"></span> <br> <br><br> <span class="highTemp">79&#176;c</span> <br> <span class="highTemp">57.6F</span>
    </div>
    <div class="day thu">FRI
      <br> <span class="cloudy-4"></span> <br> <br><br> <span class="highTemp">79&#176;c</span> <br> <span class="highTemp">57.6F</span>
    </div>
                    <div class="day wed">SAT
       <br> <span class="cloudy-5"></span> <br> <br><br> <span class="highTemp">79&#176;c</span> <br> <span class="highTemp">57.6F</span>
    </div>
    <div class="day fri">SUN
       <br><span class="cloudy-6"></span><br> <br><br> <span class="highTemp">79&#176;c</span> <br> <span class="highTemp">57.6F</span>
    </div>
  </div>
            </div>
          </div>
          <div class="col-md-3" style="padding-left: 0px;padding-right: 0px">
           <img src="https://placeholdit.imgix.net/~text?txtsize=38&txt=400%C3%97400&w=400&h=400" class="w-100" width="200px" height="230px" />
          </div>
          

        </div>
      </div>
        
        </div>
    
    </div>
    
    
    <div class="row" style="margin-top: 1rem">
    <div class="col-md-6">
<div class="card" style="background-color: #0077A2 ! important;border-radius:0px; ">
    <div class="card-body">
        <h4 class="card-title white-text text-uppercase">Recommended<BR>News</h4>
                <hr style="border-top: 1px solid cornflowerblue;">
            <div class="media mb-1">
                
                <div class="media col-md-6 col-sm-6 col-6">
  <div class="media-left">
     <a class="waves-light float-left">
            <img src="./assets/images/trump.PNG" alt="Generic placeholder image" />
        </a>
  </div>
  <div class="media-body">
    <h6 class="media-heading white-text">Lorem ipsum dolor sit ametdkjdjgngfng</h6>
  </div>
</div>
            <div class="col-md-2 col-sm-2 col-2" style="padding-right: 0px;padding-left: 0px;">
  <a class="active white-text" href="#"> <img src="/assets/images/chat.png"/>12%</a> </div> 
            <div class="col-md-2 col-sm-2 col-2" style="padding-right: 0px;padding-left: 0px;">
  <a href="#" class="white-text"><img src="/assets/images/accurate.png"/>82%</a>
            </div> <div class="col-md-2 col-sm-2 col-2" style="padding-right: 0px;padding-left: 0px;">
 <a href="#" class="white-text"> <img src="/assets/images/spell check.png"/>93%</a> </div>

                 </div>
            
            
            <hr style="border-top: 1px solid cornflowerblue;">
            <div class="media mb-1">
                
                <div class="media col-md-6 col-sm-6 col-6">
  <div class="media-left">
     <a class="waves-light float-left">
            <img src="./assets/images/trump.PNG" alt="Generic placeholder image" />
        </a>
  </div>
  <div class="media-body">
    <h6 class="media-heading white-text">Lorem ipsum dolor sit ametdkjdjgngfng</h6>
  </div>
</div>
            <div class="col-md-2 col-sm-2 col-2" style="padding-right: 0px;padding-left: 0px;">
  <a class="active white-text" href="#"> <img src="/assets/images/chat.png"/>12%</a> </div> 
            <div class="col-md-2 col-sm-2 col-2" style="padding-right: 0px;padding-left: 0px;">
  <a href="#" class="white-text"><img src="/assets/images/accurate.png"/>82%</a>
            </div> <div class="col-md-2 col-sm-2 col-2" style="padding-right: 0px;padding-left: 0px;">
 <a href="#" class="white-text"> <img src="/assets/images/spell check.png"/>93%</a> </div>

                 </div>
            
            
            <hr style="border-top: 1px solid cornflowerblue;">
            <div class="media mb-1">
                
                <div class="media col-md-6 col-sm-6 col-6">
  <div class="media-left">
     <a class="waves-light float-left">
            <img src="./assets/images/trump.PNG" alt="Generic placeholder image" />
        </a>
  </div>
  <div class="media-body">
    <h6 class="media-heading white-text">Lorem ipsum dolor sit ametdkjdjgngfng</h6>
  </div>
</div>
            <div class="col-md-2 col-sm-2 col-2" style="padding-right: 0px;padding-left: 0px;">
  <a class="active white-text" href="#"> <img src="/assets/images/chat.png"/>12%</a> </div> 
            <div class="col-md-2 col-sm-2 col-2" style="padding-right: 0px;padding-left: 0px;">
  <a href="#" class="white-text"><img src="/assets/images/accurate.png"/>82%</a>
            </div> <div class="col-md-2 col-sm-2 col-2" style="padding-right: 0px;padding-left: 0px;">
 <a href="#" class="white-text"> <img src="/assets/images/spell check.png"/>93%</a> </div>

                 </div>
            
            
            <hr style="border-top: 1px solid cornflowerblue;">
            <div class="media mb-1">
                
                <div class="media col-md-6 col-sm-6 col-6">
  <div class="media-left">
     <a class="waves-light float-left">
            <img src="./assets/images/trump.PNG" alt="Generic placeholder image" />
        </a>
  </div>
  <div class="media-body">
    <h6 class="media-heading white-text">Lorem ipsum dolor sit ametdkjdjgngfng</h6>
  </div>
</div>
            <div class="col-md-2 col-sm-2 col-2" style="padding-right: 0px;padding-left: 0px;">
  <a class="active white-text" href="#"> <img src="/assets/images/chat.png"/>12%</a> </div> 
            <div class="col-md-2 col-sm-2 col-2" style="padding-right: 0px;padding-left: 0px;">
  <a href="#" class="white-text"><img src="/assets/images/accurate.png"/>82%</a>
            </div> <div class="col-md-2 col-sm-2 col-2" style="padding-right: 0px;padding-left: 0px;">
 <a href="#" class="white-text"> <img src="/assets/images/spell check.png"/>93%</a> </div>

                 </div>
        <a href="#" class="d-flex flex-row-reverse">
            <h5 class="waves-effect p-2 white-text" mdbRippleRadius>View More <i class="fa fa-chevron-right"></i></h5>
        </a>
        </div>
        </div>
        </div>
        
        
            <div class="col-md-6">
<div class="card" style="border-radius:0px; ">
    <div class="card-body">
        <h4 class="card-title text-uppercase">Featured<BR>News</h4>
                <hr style="border-top: 1px solid cornflowerblue;">
            <div class="media mb-1">
                
                <div class="media col-md-6 col-sm-6 col-6">
  <div class="media-left">
     <a class="waves-light float-left">
            <img src="./assets/images/trump.PNG" alt="Generic placeholder image" />
        </a>
  </div>
  <div class="media-body">
    <h6 class="media-heading">Lorem ipsum dolor sit ametdkjdjgngfng</h6>
  </div>
</div>
            <div class="col-md-2 col-sm-2 col-2" style="padding-right: 0px;padding-left: 0px;">
  <a class="active" href="#"> <img src="/assets/images/chat.png" class="rec-icon"/>12%</a> </div> 
            <div class="col-md-2 col-sm-2 col-2" style="padding-right: 0px;padding-left: 0px;">
  <a href="#"><img src="/assets/images/accurate.png" class="rec-icon"/>82%</a>
            </div> <div class="col-md-2 col-sm-2 col-2" style="padding-right: 0px;padding-left: 0px;">
 <a href="#"> <img src="/assets/images/spell check.png" class="rec-icon"/>93%</a> </div>

                 </div>
            
            
         <hr style="border-top: 1px solid cornflowerblue;">
            <div class="media mb-1">
                
                <div class="media col-md-6 col-sm-6 col-6">
  <div class="media-left">
     <a class="waves-light float-left">
            <img src="./assets/images/trump.PNG" alt="Generic placeholder image" />
        </a>
  </div>
  <div class="media-body">
    <h6 class="media-heading">Lorem ipsum dolor sit ametdkjdjgngfng</h6>
  </div>
</div>
            <div class="col-md-2 col-sm-2 col-2" style="padding-right: 0px;padding-left: 0px;">
  <a class="active" href="#"> <img src="/assets/images/chat.png" class="rec-icon"/>12%</a> </div> 
            <div class="col-md-2 col-sm-2 col-2" style="padding-right: 0px;padding-left: 0px;">
  <a href="#"><img src="/assets/images/accurate.png" class="rec-icon"/>82%</a>
            </div> <div class="col-md-2 col-sm-2 col-2" style="padding-right: 0px;padding-left: 0px;">
 <a href="#"> <img src="/assets/images/spell check.png" class="rec-icon"/>93%</a> </div>

                 </div>
            
            
            <hr style="border-top: 1px solid cornflowerblue;">
            <div class="media mb-1">
                
                <div class="media col-md-6 col-sm-6 col-6">
  <div class="media-left">
     <a class="waves-light float-left">
            <img src="./assets/images/trump.PNG" alt="Generic placeholder image" />
        </a>
  </div>
  <div class="media-body">
    <h6 class="media-heading">Lorem ipsum dolor sit ametdkjdjgngfng</h6>
  </div>
</div>
            <div class="col-md-2 col-sm-2 col-2" style="padding-right: 0px;padding-left: 0px;">
  <a class="active" href="#"> <img src="/assets/images/chat.png" class="rec-icon"/>12%</a> </div> 
            <div class="col-md-2 col-sm-2 col-2" style="padding-right: 0px;padding-left: 0px;">
  <a href="#"><img src="/assets/images/accurate.png" class="rec-icon"/>82%</a>
            </div> <div class="col-md-2 col-sm-2 col-2" style="padding-right: 0px;padding-left: 0px;">
 <a href="#"> <img src="/assets/images/spell check.png" class="rec-icon"/>93%</a> </div>

                 </div>
            
            
            <hr style="border-top: 1px solid cornflowerblue;">
            <div class="media mb-1">
                
                <div class="media col-md-6 col-sm-6 col-6">
  <div class="media-left">
     <a class="waves-light float-left">
            <img src="./assets/images/trump.PNG" alt="Generic placeholder image" />
        </a>
  </div>
  <div class="media-body">
    <h6 class="media-heading">Lorem ipsum dolor sit ametdkjdjgngfng</h6>
  </div>
</div>
            <div class="col-md-2 col-sm-2 col-2" style="padding-right: 0px;padding-left: 0px;">
  <a class="active" href="#"> <img src="/assets/images/chat.png" class="rec-icon"/>12%</a> </div> 
            <div class="col-md-2 col-sm-2 col-2" style="padding-right: 0px;padding-left: 0px;">
  <a href="#"><img src="/assets/images/accurate.png" class="rec-icon"/>82%</a>
            </div> <div class="col-md-2 col-sm-2 col-2" style="padding-right: 0px;padding-left: 0px;">
 <a href="#"> <img src="/assets/images/spell check.png" class="rec-icon"/>93%</a> </div>

                 </div>
        <a href="#" class="d-flex flex-row-reverse">
            <h5 class="waves-effect p-2" mdbRippleRadius>View More <i class="fa fa-chevron-right"></i></h5>
        </a>
        </div>
        </div>
        </div>
    <!--/.Card content-->
</div>
<!--/.Card Dark--> 
    </div>